<a href="/books/new" class="new-book">Create a new book!</a><br/>
<%= link_to "Rating: Lowest to Highest", books_path(sort: "asc_rating") %><br/>
<%= link_to "Rating: Highest to Lowest", books_path(sort: "desc_rating") %><br/>
<%= link_to "Number of Pages: Lowest to Highest", books_path(sort: "asc_pages") %><br/>
<%= link_to "Number of Pages: Highest to Lowest", books_path(sort: "desc_pages") %><br/>
<%= link_to "Number of Reviews: Lowest to Highest", books_path(sort: "asc_reviews") %><br/>
<%= link_to "Number of Reviews: Highest to Lowest", books_path(sort: "desc_reviews") %><br/>

<section class="stats-box">
  <article class="highest_rated_books">
    <h4>Highest Rated Books</h4>
    <% @highest_books.each do |book|%>
     <p class="book_rating"><%= book.title %>: <%= book.avg_rating.round(2) %></p>
    <% end %>
  </article>

  <article class="lowest_rated_books">
    <h4>Lowest Rated Books</h4>
    <% @lowest_books.each do |book|%>
     <p class="book_rating"><%= book.title %>: <%= book.avg_rating.round(2) %></p>
    <% end %>
  </article>

  <article class="top_users">
    <h4>Top Users</h4>
    <% @top_users.each do |user|%>
     <p><%= user.name %> with <%= user.total_reviews %> reviews.</p>
    <% end %>
  </article>
</section>

<section class="flex-box">
  <% @books.each do |book| %>
    <article class="book book-box">
      <p>Title: <%= link_to "#{book.title}", book_path(book) %></p>
      <p>Pages: <%= book.pages  %></p>
      <p>Year: <%= book.year  %></p>
      <div id="book_<%= book.id %>">
        <p>Average Rating: <%= book.avg_rating %></p>
        <p>Total Reviews : <%= book.total_reviews %></p>
        <% book.authors.each do |author| %>
          Author(s): <%= link_to "#{author.name}", author_path(author) %>
        <% end %>
      </div>
    </article>
  <% end %>
</section>
